// Fuentes
$fuente_principal: 'Be Vietnam Pro', sans-serif;
$fuente_secundaria: 'Hind Madurai', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopUW: 1900px;

$separacion:5rem;

// Colores
$primario: #F28917;
$secundario: #484349; 
$terciario: #fff;
$secundarioOpacity: rgba(57, 70, 89, 0.712);
$negro: #000;
$blanco: #FFFFFF;
$morado:#fff;
$gris: #484349;
$grisClaro: #e0dfdf;

//Background
$secundarioOpacity: rgba(73, 4, 94, 0.678);
$bgAzulClaro: #232d5e;
$bgAzulOscuro: hsla(240, 33%, 13%, 0.918);
$transparente: #521b9b44;

//DEGRADADOS
$celeste: #90ecff;
$azul: #4b79ff;
$morado: #180325;
$fuccia: #c211a1;
$rosado: #ffa7ff;